<template>
  <v-content class="login__page">
    <v-container
      class="fill-height"
      fluid
    >
      <v-row
        align="center"
        justify="center"
      >
        <v-col
          cols="12"
          sm="8"
          md="4"
        >
          <div class="top_page_wrapper">
            <img src="/static/img/logo.png" class="top_page_logo">
            <span v-html="$t('login.best_app')"></span>
          </div>
          <v-card class="elevation-12 login__form-card" :loading="loading">
            <v-card-text>
              <div class="login__form-top">
                <h1>{{ $t('pages.login') }}</h1>
              </div>
              <v-form
                ref="form"
                v-model="valid"
                :lazy-validation="true"
                @submit="submit"
              >
                <v-text-field
                  :label="$t('login.phone')"
                  name="login"
                  type="text"
                  v-mask="'+##########?#####'"
                  v-model="form.phone"
                  :rules="rules.phone"
                />

                <v-text-field
                  id="password"
                  :label="$t('login.password')"
                  name="password"
                  type="password"
                  v-model="form.password"
                  :rules="rules.password"
                />
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn color="primary" @click="submit">
                {{ $t('login.login') }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
export default {
  props: {
    source: String,
  },

  data: vm => ({
    form: {
      phone: '',
      password: '',
    },
    rules: {
      phone: [
        v => !!v || vm.$t('login.phone_fill'),
        v => (v && (v.length >= 10 && v.length <= 15)) || vm.$t('login.phone_length'),
      ],
      password: [
        v => !!v || vm.$t('login.password_fill'),
        v => (v && v.length > 6) || vm.$t('login.password_length'),
      ],
    },
    loading: false,
    valid: true,
  }),

  methods: {
    submit() {
      const validateResult = this.$refs.form.validate();
      if (!validateResult) { return; }

      this.loading = true;
      this.$store.dispatch('user/login', this.form)
        .then(() => {
          this.$router.push({ path: '/' });
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },
  },
};
</script>

<style>
  .login__page .container {
    justify-content: center;
  }
  .login__form-card {
    margin-top: -20px;
  }
  .login__form-top {
    margin: 20px 0;
    text-align: center;
  }
  .top_page_wrapper {
    margin-bottom: 50px;
    left: 0;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top_page_logo {
    height: 54px;
    margin-right: 10px;
  }
  .login__page span {
    text-align: right;
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
  }
</style>
