<template>
  <div class="models__slider">
    <transition name="fade">
      <div class="overflow_shadow" v-if="overflow_shadow_left_show"></div>
    </transition>
    <div class="models__slider-content">
      <slot />
    </div>
    <transition name="fade">
      <div class="overflow_shadow overflow_shadow-right" v-if="overflow_shadow_show"></div>
    </transition>
  </div>
</template>

<script>
import './index.css';

export default {
  data() {
    return {
      overflow_shadow_left_show: false,
      overflow_shadow_show: true,
      scroll_listener: null,
    };
  },

  mounted() {
    this.scroll_listener = document.querySelector('.offer__modal .models__slider-content')
      .addEventListener('scroll', (event) => {
        const target = event.target || event.currentTarget;
        if (target.scrollLeft + target.offsetWidth >= target.scrollWidth - 20) {
          this.overflow_shadow_show = false;
        } else {
          this.overflow_shadow_show = true;
        }

        if (target.scrollLeft > 5) {
          this.overflow_shadow_left_show = true;
        } else {
          this.overflow_shadow_left_show = false;
        }
      });
  },

  beforeDestroy() {
    if (!this.scroll_listener) { return; }

    document.querySelector('.offer__modal .models__slider-content')
      .removeEventListener('scroll', this.scroll_listener);
  },
};
</script>
