<template>
  <app-modal class="phone__verification__modal" ref="modal">
    <div class="phone__verification__modal-content" v-loading="loading">
      <h3>{{ $t('phone_modal.title') }}</h3>
      <img src="/static/img/phone_verification.png">
      <template v-if="mode === 'sms'">
        <template v-if="!sms_sended">
          <p>{{ $t('phone_modal.pass_verification') }}<br></p>
          <div id="recaptcha-container"></div>
          <div class="not_received_hint" @click="changeToCall">
            {{ $t('phone_modal.i_have_problems') }}
          </div>
          <div
              class="not_received_hint"
              @click="logout"
              v-html="$t('phone_modal.logout')">
          </div>
        </template>
        <template v-else>
          <p v-html="$t('phone_modal.sent_code_enter')"></p>
          <code-input
            :length="6"
            @complete="onCompleteCodeInput"
            ref="codeInput"
          />
          <span class="not_received_hint" @click="changeToCall">
            {{ $t('phone_modal.didnt_receive_code') }}
          </span>
        </template>
      </template>
      <template v-else>
        <p v-html="$t('phone_modal.robot_will_call')"></p>
        <code-input
          :length="4"
          @complete="onCompletePhoneInput"
          ref="codePhoneInput"
        />
        <span
          class="not_received_hint"
          @click="openSupport"
          v-html="$t('phone_modal.have_problems')">
        </span>
        <span
          class="not_received_hint"
          @click="logout"
          v-html="$t('phone_modal.logout')">
        </span>
      </template>
    </div>
  </app-modal>
</template>

<script>
import AppModal from '@/components/AppModal';
import AppButton from '@/components/AppButton';
import { sendCallCode, sendVerifyCode } from '@/api/auth';
import CodeInput from './components/CodeInput';
import { mapGetters } from 'vuex';
import { Message } from 'element-ui';
import './styles.css';

export default {
  components: {
    AppModal,
    AppButton,
    CodeInput,
  },

  data: () => ({
    loading: false,
    sms_sended: false,
    mode: 'sms',
    confirmationResult: null,
  }),

  computed: mapGetters(['loggedUser']),

  methods: {
    open() {
      this.$refs.modal.open();
      this.$nextTick(() => {
        this.sendSmsCode();
      });
    },

    async onCompleteCodeInput(code) {
      this.loading = true;

      try {
        await this.confirmationResult.confirm(code);
        this.loading = false;
      } catch (e) {
        Message.error(this.$t('phone_modal.code_verification_error'));
        this.loading = false;
        this.$refs.codeInput.reset();
        this.$refs.codeInput.focus();
      }
    },

    async onCompletePhoneInput(code) {
      this.loading = true;
      try {
        const { success } = await this.$store.dispatch('user/validateVerifyCallCode', code);
        if (success) {
          this.loading = false;
          this.onSuccessVerify();
          return;
        }
      } catch (e) { }
      Message.error(this.$t('phone_modal.error_last_digits_phone'));
      this.loading = false;
      this.$refs.codePhoneInput.reset();
      this.$refs.codePhoneInput.focus();
    },

    changeToCall() {
      this.mode = 'call';
      this.loading = true;
      sendCallCode()
        .then(() => {
          this.loading = false;
          this.$nextTick(() => {
            this.$refs.codePhoneInput.reset();
            this.$refs.codePhoneInput.focus();
          });
        })
        .catch(() => {
          this.loading = false;
          Message.error(this.$t('phone_modal.error_order_call'));
        });
    },

    openSupport() {
      Intercom('show');
    },

    logout() {
      this.$store.dispatch('user/logout')
        .then(() => {
          this.$router.push('/login');
        })
        .catch(() => {
          this.$router.push('/login');
        });
    },

    sendSmsCode() {
      const applicationVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');

      firebase.auth().signInWithPhoneNumber(this.loggedUser.phone, applicationVerifier)
        .then((confirmationResult) => {

          this.sms_sended = true;
          this.confirmationResult = confirmationResult;
          this.$nextTick(() => {
            this.$refs.codeInput.focus();
          });
        })
        .catch((e) => {
          Message.error(this.$t('phone_modal.error_send_code'));
        });
    },

    async getUserToken(user) {
      this.loading = true;

      let token;
      try {
        token = await user.getIdToken(true);
      } catch (e) {
        Message.error(this.$t('phone_modal.error_send_code'));
        this.loading = false;
        return;
      }

      try {
        const { success, error } = await this.$store.dispatch('user/validateVerifyTokenFirebase', token);
        if (success) {
          // успешная проверка
          this.onSuccessVerify();
        } else {
          Message.error(this.$t('phone_modal.other_sms_will_sent'));
          firebase.auth().signOut().then(() => {
            this.sms_sended = false;
            this.sendSmsCode();
          });
        }
      } catch (e) {
        this.loading = false;
        return;
      }

      this.loading = false;
    },

    onSuccessVerify() {
      this.$refs.modal.close();
      const loggedUser = this.loggedUser;
      // отправляем на заполнение анкеты
      this.$nextTick(() => {
        this.$router.push('/settings');
      });
    },
  },

  mounted() {
    firebase.auth().onAuthStateChanged((user) => {
      if (user) {
        this.getUserToken(user);
      } else {
        console.log('not logged');
      }
    });
  },

  beforeDestroy() {
  },
};
</script>
