<template>
  <div class="chat__wrapper">
    <!--<dialogs />-->
    <chat-body
        ref="chatBody"
        :showHeader="false"
    />
  </div>
</template>

<script>
import Dialogs from '@/pages/messages/components/Dialogs';
import ChatBody from '@/pages/messages/components/ChatBody';

export default {
  components: {
    Dialogs,
    ChatBody,
  },
  mounted() {
    this.$refs.chatBody.scrollToBottom()
  }
};
</script>
<style scoped>
  .chat__wrapper {
    height: calc(90vh - 290px) !important;
    margin: 0 -20px -20px -20px;
    width: calc(100% + 40px);
  }
</style>
