.navigation {
  display: flex;
  margin-top: 25px;
}

.navigation .navigation__list {
  padding: 0;
}

.navigation .navigation__item {
  flex: 0 0 auto;
  padding: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.navigation .navigation__link {
  display: inline-flex;
  justify-content: center;
  font-size: 19px;
  color: var(--main-text-color);
  font-weight: 700;
  position: relative;
}
.navigation__item:hover {
  background: rgba(29,161,242,0.1);
  border-radius: 30px;
}
.navigation .navigation__item:hover .navigation__link, .navigation .navigation__link.navigation__link_active {
  color: #1da1f2;
}
.navigation .navigation__link span {
  line-height: 1.3125;
  margin-right: 15px;
  margin-left: 15px;
}
.navigation__link i {
  left: 0;
  top: 1px;
  font-size: 24px;
}

.menu__buttons {
  padding-right: 10px;
}
