/* default button styles */
.button {
  display: block;
  text-align: center;
  border: 0 solid;
  background-color: #f0f2f9;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 16px;
  transition: all .1s ease-out;
  overflow: hidden;
  cursor: pointer;
  min-width: 40px;
  color: #fff;
  outline: none;
  border-radius: 30px
}

.button__small {
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 16px;
}

.button > .button__text {
  display: block;
  flex: 0 0 auto;
  color: #fff;
}

.button__text i {
  margin-right: 5px;
}

.button__default {
  position: relative;
  background-color: #9e9e9e;
  color: #ffffff;
  transition: all .1s ease-out;
}

.button__default:hover {
  background: #bfbaba;
}

.button__success {
  position: relative;
  background-color: #3fc707;
  color: #ffffff;
  transition: all .1s ease-out;
}

.button__success:hover {
  background-color: #4ad411;
}

/* double wave hover button styles */
.button__primary {
  position: relative;
  background-color: #FF7781;
  transition: all .1s ease-out;
}

.button__primary:hover {
  background-color: #ff929a;
}

.button__default,
.button__success,
.button__primary {
  box-shadow: 0 5px 5px -5px rgba(33, 48, 102, 0.1),
  0 10px 10px -5px rgba(33, 48, 102, 0.1),
  0 15px 15px -5px rgba(33, 48, 102, 0.1),
  0 20px 20px -5px rgba(33, 48, 102, 0.1);
  -webkit-box-shadow: 0 5px 5px -5px rgba(33, 48, 102, 0.1),
  0 10px 10px -5px rgba(33, 48, 102, 0.1),
  0 15px 15px -5px rgba(33, 48, 102, 0.1),
  0 20px 20px -5px rgba(33, 48, 102, 0.1);
}

/* disable button styles */
.button[disable] {
  background-color: #f0f2f9;
  pointer-events: none;
  color: #b4bcd9;
  background-image: none;
  transition: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.button[disable] > * {
  color: #b4bcd9;
}
.button[disable]:after {
  pointer-events: none;
  background-image: none;
  transition: none;
}
