<template>
    <a :href="href" v-if="foreign" v-on="$listeners">
      <span class="button__text">
        <slot />
      </span>
    </a>
    <router-link :to="href" v-on="$listeners" v-else>
      <span class="button__text">
        <slot />
      </span>
    </router-link>
</template>

<script>
import './app-button.css';

export default {
  props: {
    href: {
      type: String,
      default: () => '#',
    },
  },

  computed: {
    foreign() {
      return !this.href || this.href.indexOf('http') !== -1;
    },
  },
};
</script>

<style>
</style>
