<template>
  <router-link to="/" class="logo__link">
    <img class="logo__img" :src="src">
  </router-link>
</template>

<script>
import './app-logo.css';

export default {
  props: {
    src: {
      required: true,
      type: String,
    },
  },
};
</script>

<style>
</style>
