<template>
  <app-modal class="offer_create_modal" ref="modal" v-loading="loading">
    <h3>{{ steps[currentStep] }}</h3>
    <div class="step_screen" v-if="currentStep === 0">
      <v-form
        ref="form_0"
        v-model="valid"
        lazy-validation
      >
        <v-text-field
          v-model="form.name"
          :counter="30"
          :rules="rules.name"
          :label="$t('offer_create_modal.offer_name')"
          name="name"
          required
        ></v-text-field>

        <v-textarea
          name="description"
          v-model="form.description"
          :rules="rules.description"
          :counter="1000"
          :label="$t('offer_create_modal.offer_description')"
          :rows="1"
          required
          auto-grow
        ></v-textarea>

        <v-select
          v-model="form.category"
          :items="categories"
          :rules="[v => !!v || $t('offer_create_modal.select_category')]"
          :label="$t('offer_create_modal.category')"
          item-value="id"
          item-text="name"
          required
        ></v-select>

        <v-text-field
          :label="$t('offer_create_modal.budget')"
          v-model="form.cost"
          :rules="rules.cost"
          prefix="$"
        ></v-text-field>

        <v-checkbox
          v-model="form.possible_increase_cost"
          :label="$t('offer_create_modal.possible_increase_budget')"
          style="margin-top: 0"
        />
      </v-form>
    </div>
    <div class="step_screen" v-if="currentStep === 1">
      <v-form
        ref="form_1"
        v-model="valid"
        lazy-validation
      >
        <v-menu
          v-model="menu1"
          :close-on-content-click="false"
          max-width="290"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              :value="dateFormatted"
              clearable
              :label="$t('offer_create_modal.meeting_date')"
              readonly
              v-on="on"
              @click:clear="date = null"
              :rules="[v => !!v || $t('offer_create_modal.select_meeting_date')]"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="date"
            :min="minDate"
            @change="menu1 = false"
          ></v-date-picker>
        </v-menu>
        <v-combobox
          v-model="country"
          :items="countries"
          :label="$t('offer_create_modal.meeting_country')"
          :rules="[v => !!v || $t('offer_create_modal.select_country')]"
          item-value="id"
          item-text="name"
        ></v-combobox>
        <v-combobox
          v-model="city"
          :items="cities"
          :label="$t('offer_create_modal.meeting_city')"
          :rules="[v => !!v || $t('offer_create_modal.select_city')]"
          item-value="id"
          item-text="name"
          v-show="form.country"
        ></v-combobox>
      </v-form>
    </div>
    <div class="step_screen" v-if="currentStep === 2">
      <v-form
        ref="form_2"
        v-model="valid"
        lazy-validation
      >
        <v-select
          v-model="form.hairs"
          :items="hairs"
          :menu-props="{ maxHeight: '400' }"
          :label="$t('offer_create_modal.hair_color')"
          item-value="id"
          item-text="name"
          multiple
        ></v-select>
        <v-select
          v-model="form.eyes"
          :items="eyes"
          :menu-props="{ maxHeight: '400' }"
          :label="$t('offer_create_modal.eye_color')"
          item-value="id"
          item-text="name"
          multiple
        ></v-select>
        <v-select
          v-model="form.nationalities"
          :items="nationalities"
          :menu-props="{ maxHeight: '400' }"
          :label="$t('offer_create_modal.nationality')"
          item-value="id"
          item-text="name"
          multiple
        ></v-select>
        <v-select
          v-model="form.visas"
          :items="visas"
          :menu-props="{ maxHeight: '400' }"
          :label="$t('offer_create_modal.visas')"
          item-value="id"
          item-text="name"
          multiple
        ></v-select>
        <v-subheader class="pl-0">
          {{ $t('offer_create_modal.age') }}
          {{ $t('offer_create_modal.from') }}
          {{ form.age_from }}
          {{ $t('offer_create_modal.to') }}
          {{ form.age_to }}
          {{ $t('offer_create_modal.years') }}
        </v-subheader>
        <v-range-slider
          v-model="age"
          thumb-label
          min="18"
          max="40"
        />
        <v-subheader class="pl-0">
          {{ $t('offer_create_modal.weight') }}
          {{ $t('offer_create_modal.from') }}
          {{ form.weight_from }}
          {{ $t('offer_create_modal.to') }}
          {{ form.weight_to }}
          {{ $t('offer_create_modal.kg') }}
        </v-subheader>
        <v-range-slider
          v-model="weight"
          thumb-label
          min="30"
          max="200"
        />
        <v-subheader class="pl-0">
          {{ $t('offer_create_modal.height') }}
          {{ $t('offer_create_modal.from') }}
          {{ form.height_from }}
          {{ $t('offer_create_modal.to') }}
          {{ form.height_to }}
          {{ $t('offer_create_modal.sm') }}
        </v-subheader>
        <v-range-slider
          v-model="height"
          thumb-label
          min="150"
          max="250"
        />
        <v-subheader class="pl-0">
          {{ $t('offer_create_modal.boobs_size') }}
          {{ $t('offer_create_modal.from') }}
          {{ form.boobs_from }}
          {{ $t('offer_create_modal.to') }}
          {{ form.boobs_to }}
        </v-subheader>
        <v-range-slider
          v-model="boobs"
          thumb-label
          min="1"
          max="10"
        />
        <v-checkbox
          v-model="natural_boobs"
          :label="$t('offer_create_modal.only_natural')"
        />
        <v-checkbox
          v-model="form.only_with_reviews"
          :label="$t('offer_create_modal.only_with_reviews')"
          style="margin-top: 0"
        />
      </v-form>
    </div>
    <div class="step_screen" v-if="currentStep === 3">
      <v-form
        ref="form_3"
        v-model="valid"
        lazy-validation
      >
        <template v-if="!form.search_from_same_city">
          <v-combobox
            v-model="country_from"
            :items="countries"
            :label="$t('offer_create_modal.from_country')"
            item-value="id"
            item-text="name"
          ></v-combobox>
          <v-combobox
            v-model="city_from"
            :items="cities_from"
            :label="$t('offer_create_modal.from_city')"
            item-value="id"
            item-text="name"
            v-show="form.country_from"
          ></v-combobox>
        </template>
        <v-checkbox
          v-model="form.search_from_same_city"
          :label="$t('offer_create_modal.search_from_meeting_city')"
        />
      </v-form>
    </div>
    <div class="step_screen" v-if="currentStep === 4">
      <div class="offer__summary">
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.category') }}</span>
          <p>{{ category.name }}</p>
        </div>
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.offer_name') }}</span>
          <p>{{ form.name }}</p>
        </div>
        <div class="offer__summary-option offer__summary-option_description">
          <span>{{ $t('offer_create_modal.offer_description') }}</span>
          <p>{{ form.description }}</p>
        </div>
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.meeting_place') }}</span>
          <p>{{ country.name }}, {{ city.name }}</p>
        </div>
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.meeting_date') }}</span>
          <p>{{ dateFormatted }}</p>
        </div>
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.budget') }}</span>
          <p>${{ form.cost }}{{ form.possible_increase_cost ? '+' : '' }}</p>
        </div>
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.search_models_from') }}</span>
          <p>
            <template v-if="form.search_from_same_city">
              {{ country.name }}, {{ city.name }}
            </template>
            <template v-else-if="country_from">
              {{ country_from.name + (city_from ? `, ${city_from.name}` : '') }}
            </template>
            <template v-else>
              {{ $t('offer_create_modal.any_country_city') }}
            </template>
          </p>
        </div>
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.age') }}</span>
          <p>
            {{ $t('offer_create_modal.from') }}
            {{ form.age_from }}
            {{ $t('offer_create_modal.to') }}
            {{ form.age_to }}
            {{ $t('offer_create_modal.years') }}
          </p>
        </div>
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.height') }}</span>
          <p>
            {{ $t('offer_create_modal.from') }}
            {{ form.height_from }}
            {{ $t('offer_create_modal.to') }}
            {{ form.height_to }}
            {{ $t('offer_create_modal.sm') }}
          </p>
        </div>
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.weight') }}</span>
          <p>
            {{ $t('offer_create_modal.from') }}
            {{ form.weight_from }}
            {{ $t('offer_create_modal.to') }}
            {{ form.weight_to }}
            {{ $t('offer_create_modal.kg') }}
          </p>
        </div>
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.boobs_size') }}</span>
          <p>
            {{ $t('offer_create_modal.from') }}
            {{ form.boobs_from }}
            {{ $t('offer_create_modal.to') }}
            {{ form.boobs_to }}
          </p>
        </div>
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.boobs_type') }}</span>
          <p>{{ form.boobs_type === 'natural' ? $t('offer_create_modal.only_natural') : $t('offer_create_modal.any') }}</p>
        </div>
        <div class="offer__summary-option offer__summary-option_description" v-if="girl_nationalities">
          <span>{{ $t('offer_create_modal.nationality') }}</span>
          <p>{{ girl_nationalities }}</p>
        </div>
        <div class="offer__summary-option offer__summary-option_description" v-if="girl_hairs">
          <span>{{ $t('offer_create_modal.hair_color') }}</span>
          <p>{{ girl_hairs }}</p>
        </div>
        <div class="offer__summary-option offer__summary-option_description" v-if="girl_eyes">
          <span>{{ $t('offer_create_modal.eye_color') }}</span>
          <p>{{ girl_eyes }}</p>
        </div>
        <div class="offer__summary-option offer__summary-option_description" v-if="girl_visas">
          <span>{{ $t('offer_create_modal.visas') }}</span>
          <p>{{ girl_visas }}</p>
        </div>
      </div>
    </div>

    <div class="offer__create-buttons" :class="{'only_next': currentStep === 0}">
      <app-button class="button button__default" v-show="currentStep!==0" @click.native="prevStep">
        <i class="fas fa-arrow-left"></i> {{ $t('offer_create_modal.prev') }}
      </app-button>
      <app-button class="button button__success" @click.native="nextStep">
        <template v-if="currentStep!==steps.length-1">
          {{ $t('offer_create_modal.next') }} <i class="fas fa-arrow-right"></i>
        </template>
        <template v-else>
          {{ $t('offer_create_modal.create') }}
        </template>
      </app-button>
    </div>
  </app-modal>
</template>

<script>
import { mapGetters } from 'vuex';
import { Message } from 'element-ui';
import AppModal from '@/components/AppModal';
import AppButton from '@/components/AppButton';
import Chip from '@/components/Chip';
import ModalUser from '@/components/ModalUser';
import { fetchCitiesForCountries } from '@/api/geo';
import { formatDate } from '@/utils';
import dayjs from 'dayjs';
import './styles.css';

export default {
  components: {
    AppModal,
    AppButton,
    Chip,
    ModalUser,
  },

  data: vm => ({
    valid: true,

    rules: {
      name: [
        v => !!v || vm.$t('offer_create_modal.enter_name'),
        v => (v && v.length <= 30) || vm.$t('offer_create_modal.name_max_30'),
        v => (v && v.length >= 3) || vm.$t('offer_create_modal.name_minimum_3'),
      ],
      description: [
        v => !!v || vm.$t('offer_create_modal.enter_description'),
        v => (v && v.length <= 1000) || vm.$t('offer_create_modal.description_max_1000'),
        v => (v && v.length >= 10) || vm.$t('offer_create_modal.description_min_10'),
      ],
      cost: [
        v => !!v || vm.$t('offer_create_modal.enter_budget'),
        v => /^[1-9][0-9]+$/.test(v) || vm.$t('offer_create_modal.budget_positive'),
        v => (v && v <= 1000000) || vm.$t('offer_create_modal.budget_max'),
        v => (v && v >= 100) || vm.$t('offer_create_modal.budget_min'),
      ],
    },
    select: null,

    steps: [
      vm.$t('offer_create_modal.create_offer'),
      vm.$t('offer_create_modal.date_and_venue'),
      vm.$t('offer_create_modal.model_parameters'),
      vm.$t('offer_create_modal.where_to_look'),
      vm.$t('offer_create_modal.check_data'),
    ],

    currentStep: 0,
    date: new Date().toISOString()
      .substr(0, 10),
    minDate: new Date().toISOString()
      .substr(0, 10),
    dateFormatted: null,
    menu1: false,
    menu2: false,

    category: null,
    country: null,
    city: null,
    age: [18, 40],
    weight: [30, 200],
    height: [150, 250],
    boobs: [1, 10],
    natural_boobs: false,
    country_from: null,
    city_from: null,
    girl_visas: '',
    girl_eyes: '',
    girl_hairs: '',
    girl_nationalities: '',

    form: {
      name: '',
      description: '',
      category: null,
      country: null,
      city: null,
      meeting_date: null,
      cost: 100,
      possible_increase_cost: false,

      age_from: 18,
      age_to: 40,
      weight_from: 30,
      weight_to: 200,
      height_from: 150,
      height_to: 250,
      boobs_from: 1,
      boobs_to: 10,
      boobs_type: 'all',
      only_with_reviews: false,
      only_verified: true,
      nationalities: [],
      eyes: [],
      hairs: [],
      visas: [],
      country_from: null,
      city_from: null,
      search_from_same_city: false,
    },

    loading: false,

    cities: [],
    cities_from: [],
  }),

  computed: {
    ...mapGetters([
      'countries',
      'hairs',
      'eyes',
      'nationalities',
      'visas',
      'categories',
    ]),
  },

  watch: {
    date(val) {
      this.dateFormatted = this.formatDate(this.date);
    },
    country(newVal, oldVal) {
      this.form.country = newVal.id;
      this.loadCitiesForCurrentCountry();
    },
    city(newVal, oldVal) {
      this.form.city = newVal ? newVal.id : null;
    },
    'form.category': function (newVal, oldVal) {
      this.form.category = newVal;
      if (newVal) {
        const index = this.categories.findIndex(category => category.id === newVal);
        this.category = this.categories[index];
      } else {
        this.category = null;
      }
    },
    age(newVal) {
      this.form.age_from = newVal[0];
      this.form.age_to = newVal[1];
    },
    weight(newVal) {
      this.form.weight_from = newVal[0];
      this.form.weight_to = newVal[1];
    },
    height(newVal) {
      this.form.height_from = newVal[0];
      this.form.height_to = newVal[1];
    },
    boobs(newVal) {
      this.form.boobs_from = newVal[0];
      this.form.boobs_to = newVal[1];
    },
    natural_boobs(newVal) {
      this.form.boobs_type = newVal ? 'natural' : 'all';
    },
    country_from(newVal, oldVal) {
      this.form.country_from = newVal.id;
      this.loadCitiesForCurrentCountryFrom();
    },
    city_from(newVal, oldVal) {
      this.form.city_from = newVal ? newVal.id : null;
    },
    'form.hairs': function (newVal, oldVal) {
      this.girl_hairs = this.hairs.filter(
        hair => newVal.indexOf(hair.id) !== -1,
      ).map(hair => hair.name).join(', ');
    },
    'form.nationalities': function (newVal, oldVal) {
      this.girl_nationalities = this.nationalities.filter(
        hair => newVal.indexOf(hair.id) !== -1,
      ).map(hair => hair.name).join(', ');
    },
    'form.eyes': function (newVal, oldVal) {
      this.girl_eyes = this.eyes.filter(
        hair => newVal.indexOf(hair.id) !== -1,
      ).map(hair => hair.name).join(', ');
    },
    'form.visas': function (newVal, oldVal) {
      this.girl_visas = this.visas.filter(
        hair => newVal.indexOf(hair.id) !== -1,
      ).map(hair => hair.name).join(', ');
    },
  },

  methods: {
    formatDate(date) {
      if (!date) {
        this.form.meeting_date = null;
        return null;
      }
      const dayjs_date = dayjs(date);
      this.form.meeting_date = dayjs_date.format('DD.MM.YYYY');
      return formatDate(date);
    },

    open() {
      this.$refs.modal.open();
    },

    close() {
      this.$refs.modal.close();
    },

    reset() {
      this.$refs.form.reset();
    },

    save() {
      this.loading = true;
      this.$store.dispatch('offers/createOffer', this.form)
        .then(() => {
          this.loading = false;
          this.close();
          Message.success(this.$t('offer_create_modal.offer_sent'));
        })
        .catch(() => {
          this.loading = false;
        });
    },

    nextStep() {
      const form = this.$refs[`form_${this.currentStep}`];
      if (form && !form.validate()) { return; }

      if (this.steps.length - 1 === this.currentStep) {
        this.save();
      } else {
        this.currentStep = this.currentStep + 1;
      }
    },

    prevStep() {
      this.currentStep = this.currentStep - 1;
    },

    async loadParameters() {
      if (!this.categories.length) {
        this.loading = true;
        await this.$store.dispatch('options/fetchOffersCategories');
        this.loading = false;
      }
      if (!this.hairs.length) {
        await this.$store.dispatch('options/fetchMainOptions');
      }
      if (!this.countries.length) {
        await this.$store.dispatch('options/fetchCountries');
      }
    },

    loadCitiesForCurrentCountry() {
      this.loading = true;
      this.city = null;
      fetchCitiesForCountries(this.form.country)
        .then((response) => {
          this.cities = response.data;
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },

    loadCitiesForCurrentCountryFrom() {
      this.loading = true;
      this.city_from = null;
      fetchCitiesForCountries(this.form.country_from)
        .then((response) => {
          this.cities_from = response.data;
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },
  },

  mounted() {
    this.loadParameters();
  },
};
</script>
