<template>
  <app-modal class="tour__modal" :class="{'modal_left_hidden': modal_left_hidden}" ref="modal">
    <div class="tour__modal-top">
      <div class="tour__modal-top-content">
        <div class="tour__title" v-show="!loading">
          <div class="tour__city">{{ title }}</div>
          <div class="tour__name">{{ currentTour.name }}</div>
        </div>
        <div class="tour__bottom">
          <chip
            :content="$t(`tour_status.${currentTour.status}`)"
            :class="`tour_chip_${currentTour.status}`"
            v-show="!loading"
          />
        </div>
      </div>
      <div class="tour__modal-top-background" :style="`background-image: url(${cityImage})`">
        <div class="tour__modal-top-gradient"></div>
      </div>
      <div class="tour__modal-top-shadow"></div>
    </div>
    <div class="tour__modal-content">
      <v-skeleton-loader
        :loading="loading"
        height="94"
        type="list-item-two-line"
      >
        <h3>Описание</h3>
        <p>{{ currentTour.description }}</p>
      </v-skeleton-loader>
    </div>
  </app-modal>
</template>

<script>
import { mapGetters } from 'vuex';
import AppModal from '@/components/AppModal';
import AppButton from '@/components/AppButton';
import Chip from '@/components/Chip';
import { getTourStatus } from '@/utils/offers';
import './styles.css';

export default {
  props: ['tourId', 'tour'],

  components: {
    AppModal,
    AppButton,
    Chip,
  },

  computed: {
    ...mapGetters(['currentTour']),

    title() {
      return this.currentTour.country ? this.currentTour.country.name : '';
    },
    cityImage() {
      const default_image = 'https://static.themoscowtimes.com/image/1360/37/407968_1000x666_1024_390eba4e9dc1ad1f24553dbc733a2045.jpg';
      if (this.loading) {
        if (this.tour && this.tour.city && this.tour.city.image_path) { return `https://d2ko3u8nw1ndor.cloudfront.net/${this.tour.city.image_path}`; }
        return default_image;
      }
      if (!this.currentTour.city) { return default_image; }
      return `https://d2ko3u8nw1ndor.cloudfront.net/${this.currentTour.city.image_path}`;
    },
  },

  data: () => ({
    loading: false,
    modal_left_hidden: false,
    overscrolled: false,
    scrollContainer: null,
  }),

  watch: {
    tourId: {
      immediate: true,
      handler(newVal, oldVal) {
        this.loadTour();
      },
    },
  },

  methods: {
    getTourStatus,

    open() {
      this.$refs.modal.open();
      this.$nextTick(this.initScrollListener.bind(this));
    },

    close() {
      this.removeListener();
      this.$refs.modal.close();
      this.$emit('closed');
    },

    openUserModal(user) {
      this.modal_left_hidden = true;
      this.$refs.modalUser.open(user);
    },

    onModalUserClose() {
      this.modal_left_hidden = false;
    },

    loadTour() {
      this.loading = true;
      this.$store.dispatch('tours/loadMyTour', this.tourId)
        .then(() => {
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
          this.close();
        });
    },

    initScrollListener() {
      const scrollContainer = document.querySelector('.tour__modal .__scroll');
      this.scrollContainer = scrollContainer;
      this.scrollContainer.addEventListener('scroll', this.scrollHandler.bind(this));
    },

    scrollHandler(event) {
      const target = event.target || event.currentTarget;
      const scrollTop = target.scrollTop;
      if (scrollTop >= 160) {
        if (this.overscrolled) { return; }
        document.querySelector('.tour__modal .modal__close').style.color = '#242a38';
        this.overscrolled = true;
      } else {
        if (!this.overscrolled) { return; }
        document.querySelector('.tour__modal .modal__close').style.color = '#fff';
        this.overscrolled = false;
      }
    },

    removeListener() {
      if (this.scrollContainer) { this.scrollContainer.removeEventListener('scroll', this.scrollHandler.bind(this)); }
    },
  },

  beforeDestroy() {
    this.removeListener();
  },
};
</script>
