<template>
  <div>
    <div class="header__title">
      <div class="header__city">
        <h2>{{ $route.name == 'Offers' ? $t('pages.offers_city') : $t('pages.journeys_city') }}
        </h2>
        <div style="display: flex; flex-direction: row">
          <v-combobox
            v-if="cities"
            v-model="city"
            :items="cities"
            :label="$t('offer_create_modal.meeting_city')"
            item-value="id"
            item-text="name"
            @update:search-input="onTypingCity"
          ></v-combobox>
          <v-select
            v-model="status"
            :items="statuses"
            :label="$t('offers.status')"
            item-value="id"
            item-text="name"
          ></v-select>
        </div>
      </div>
      <app-button href="#" class="button button__primary" @click.native="open">
        <i class="fas fa-plus"></i>
        <span>{{ $t('offers.create_offer') }}</span>
      </app-button>
    </div>
    <div class="offers_wrapper" v-loading="loading">
      <template v-if="cities">
        <template>
          <app-column
            class="column-2"
            v-for="(offer, index) in filteredOffers"
            :key="index"
          >
            <app-offer-model
              :offer="offer"
              @click.native="openOffer(offer)"
            />
          </app-column>
        </template>
        <!--<template v-else>
          <app-column
            class="column-2"
            v-for="(offer, index) in offers"
            :key="index"
          >
            <app-offer :offer="offer" @click.native="openOffer(offer)" />
          </app-column>
        </template>-->
      </template>
      <template v-if="!filteredOffers.length && !loading">
        <nothing-found>
          <template v-if="isGirl">
            <div v-html="$t('offers.not_found_offers_model')"></div>
          </template>
          <template v-else>
            <div v-html="$t('offers.not_found_offers_manager')"></div>
          </template>
        </nothing-found>
      </template>
    </div>
    <modal-create-event ref="offerCreateModal" />
    <template>
      <modal-offer-model
        ref="offerModal"
        :offer="openedOffer"
        :offer-id="openOfferId"
        @closed="openOfferModal=false"
        v-if="openOfferModal"
      />
    </template>
    <!--<template v-else>
      <modal-offer
        ref="offerModal"
        :offer="openedOffer"
        :offer-id="openOfferId"
        @closed="openOfferModal=false"
        v-if="openOfferModal"
      />
    </template>-->
  </div>
</template>

<script>
import AppColumn from '@/components/AppColumn';
import AppOffer from '@/components/AppOffer';
import AppOfferModel from '@/components/AppOfferModel';
import AppButton from '@/components/AppButton';
import AppModal from '@/components/AppModal';
import ModalOffer from '@/components/ModalOffer';
import ModalOfferModel from '@/components/ModalOfferModel';
//import ModalCreateOffer from '@/components/ModalCreateOffer';
import ModalCreateEvent from '@/components/ModalCreateEvent';
import BannerVerifyPage from '@/components/BannerVerifyPage';
import NothingFound from '@/components/NothingFound';
import EventBus from '@/bus';
import { Message } from 'element-ui';
import { mapGetters } from 'vuex';
import { fetchCountries, fetchCities, fetchCitiesTop } from '@/api/geo';

export default {
  name: 'Offers',
  components: {
    AppOffer,
    AppOfferModel,
    NothingFound,
    AppColumn,
    AppButton,
    BannerVerifyPage,
    AppModal,
    ModalOffer,
    ModalOfferModel,
    //ModalCreateOffer,
    ModalCreateEvent,
  },

  data() {
    return {
      loading: false,
      openOfferModal: false,
      openOfferId: null,
      openedOffer: null,

      country: null,
      countries: null,

      city: null,
      cities: null,
      citySearch: '',
      status: null,

      statuses: [
        /*{
          "name": this.$t('offers.all'),
          "id": ""
        },*/
        {
          "name": this.$t('offers.viewed'),
          "id": "viewed"
        },
        {
          "name": this.$t('offers.not_viewed'),
          "id": "not_viewed"
        },
        {
          "name": this.$t('offers.applicated'),
          "id": "applicated"
        }
      ]
    };
  },

  computed: {
    ...mapGetters([
       'isGirl',
       'isManager',
       'profileIsVerified',
       'isSubscriptionPayed',
       'loggedUser',
       'offers',
     ]),
    categoryId: function() {
      return this.$route.meta.category_id
    },
    filteredOffers() {
      console.log('offers', this.offers)
      return this.offers.filter(offer => offer.manager && offer.manager.id !== this.loggedUser.id)
    }
  },

  watch: {
    city(val) {
      if(val) {
        this.citySearch = ''
        this.fetchOffers();
      }
    },
    categoryId(val) {
      if (val) {
        this.fetchOffers();
      }
    },
    status(val) {
      console.log(this.status)
      if (val) {
        this.fetchOffers();
      }
    }
  },

  methods: {
    open() {
      if (!this.isSubscriptionPayed) {
        Message.error(this.$t('offers.need_pay_for_create'));
        EventBus.$emit('openSubscriptionModal');
        return;
      }

      if (!this.profileIsVerified) {
        Message.info(this.$t('offers.need_verify_for_create'));
        EventBus.$emit('openVerificationModal');
        return;
      }

      if (!this.loggedUser.can_create_offers) {
        Message.info(this.$t('offers.not_access_to_create'));
        Intercom('show');
        return;
      }

      this.$refs.offerCreateModal.open();
    },

    openOffer(offer) {
      this.openedOffer = offer;
      this.openOfferId = offer.id;
      this.openOfferModal = true;
      this.$store.commit('offers/SET_VIEWED', offer.id)

      this.$nextTick(() => {
        this.$refs.offerModal.open();
      });
    },

    fetchOffers() {
      this.loading = true;
      this.$store.dispatch(`offers/loadOffers`, {
        city_id: this.city ? this.city.id : null,
        category_id: this.$route.meta.category_id,
        user_status: this.status ? this.status : null
      })
        .then(() => {
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },

    loadCities() {
      this.loading = true;
			//this.city = null;

      new Promise((resolve, reject) => {
          resolve(!this.country || typeof this.country.id !== 'number' ?
            fetchCitiesTop() :
            fetchCities({
              country_id: this.country.id,
            })
          );
      })
			.then(({data}) => {
				this.cities = data;
				this.cities.sort((a,b) => a.name.localeCompare(b.name))

				/*if(this.loggedUser.city) {
					//this.city = this.cities.find(city => city.id == this.loggedUser.city);
					//if(!this.city) this.city = this.loggedUser.city
				} else {
					//this.city = this.cities[0].name
				}*/
			})
			.catch((e) => {
        console.log(e)
			})
			.finally(() => {
				this.loading = false;
			})

			/*
      fetchCountries()
        .then((response) => {
          this.countries = response.data;
          if(!this.loggedUser.country)
            this.country = this.countries[0];
        })
        .catch(() => {
          this.loading = false;
        });*/
    },

    searchCities() {
      if(!this.citySearch.length) {
        this.loadCities()
        return
      }
      fetchCities({
        search: this.citySearch
      })
      .then(({data}) => {
        this.cities = data;
        this.cities.sort((a,b) => a.name.length - b.name.length)
      })
      .catch(e => console.log(e))
    },

    onTypingCity(fragment) {
      console.log('gg')
      this.citySearch = fragment

      if(fragment !== null && fragment.length > 0) {
        this.searchCities()
      } else {
        this.city = null
        this.loadCities()
        this.fetchOffers()
      }
    }
  },

  mounted() {
    if(this.loggedUser)
    {
      if(this.loggedUser.city)
        //this.city = { id: this.loggedUser.city, name: this.loggedUser.cityName };
      if(this.loggedUser.country)
        this.country = { id: this.loggedUser.country, name: this.loggedUser.countryName };
    }
    this.fetchOffers()
    this.loadCities();
  },
};
</script>
