<template>
  <div>
    <div class="header__title header__title-backward">
      <div class="backward-button" @click="$router.push('/')">
        <i class="fas fa-chevron-left"></i>
      </div>
      <h2>Нужно встретиться с мадамой</h2>
    </div>
  </div>
</template>

<script>
export default {

};
</script>
