<template>
    <span
      class="chat_msg_item"
      :class="message.from_me ? 'chat_msg_item_user' : 'chat_msg_item_admin'"
    >
      <div v-if="!message.from_me" class="avatar" :style="`background-image: url(${userAvatar(user())})`" :title="user().name"></div>
      <div class="content">
        <div v-if="!message.from_me">{{ user().name }}</div>
        {{ message.content }}
      </div>
    </span>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  props: {
    message: {
      required: true,
      type: Object,
    },
  },

  methods:
  {
    userAvatar(user) {
        if (!user) { return '/static/img/without_avatar.jpg'; }
        if (!user.avatar) { return '/static/img/without_avatar.jpg'; }
        return user.avatar.small;
      },

    user()
    {
      return this.currentDialog.users.find((user) => user.id == this.message.user_from_id)
    }
  },

  computed: mapGetters(['currentDialog']),
};
</script>
