<template>
  <app-modal class="verification__modal" ref="modal">
    <div class="verification__modal-content" v-loading="loading">
      <h3>{{ cameraMode ? $t('verification_modal.make_photo_title') : $t('verification_modal.verification_profile') }}</h3>
      <div v-show="!cameraMode">
        <template v-if="loggedUser.verified === 'not'">
          <template v-if="isGirl">
            <p v-html="$t('verification_modal.you_need_verify')"></p>
            <template v-if="loggedUser.unverified_reason">
              <p>{{ $t('verification_modal.unverified_by_reason') }} <b>{{ loggedUser.unverified_reason }}</b>.</p>
            </template>
            <img src="/static/img/selfie.jpg">
            <p>{{ $t('verification_modal.need_make_selfie') }}</p>
            <app-button class="button button__primary" @click.native.prevent="startWebcam">
              {{ $t('verification_modal.make_photo') }}
            </app-button>
          </template>
          <template v-else>
            <p v-html="$t('verification_modal.you_need_verify_manager')"></p>
            <p>{{ $t('verification_modal.verify_your_reliability') }}</p>
            <p>{{ $t('verification_modal.you_need_send_request') }}</p>
            <app-button href="#" class="button button__primary" @click.native.prevent="sendVerifyRequest">
              {{ $t('verification_modal.send_request') }}
            </app-button>
          </template>
        </template>
        <template v-if="loggedUser.verified === 'wait'">
          <template v-if="isGirl">
            <p>{{ $t('verification_modal.wait_verify') }} {{ $t('verification_modal.cant_receive_offers') }}</p>
            <p>{{ $t('verification_modal.veracity_profile_photos') }}</p>
            <img src="/static/img/selfie.jpg">
            <p>{{ $t('verification_modal.speed_up_process') }}</p>
            <app-button href="#" class="button button__primary" @click.native.prevent="openSupport">
              {{ $t('verification_modal.write_to_support') }}
            </app-button>
          </template>
          <template v-else>
            <p>{{ $t('verification_modal.wait_verify') }} {{ $t('verification_modal.cant_send_offers') }}</p>
            <p>{{ $t('verification_modal.verify_your_reliability') }}</p>
            <p>{{ $t('verification_modal.speed_up_process') }}</p>
            <app-button href="#" class="button button__primary" @click.native.prevent="openSupport">
              {{ $t('verification_modal.write_to_support') }}
            </app-button>
          </template>
        </template>
        <template v-if="loggedUser.verified === 'yes'">
          <template v-if="isGirl">
            <p>{{ $t('verification_modal.successfully_verified') }} {{ $t('verification_modal.can_receive_offers') }}</p>
            <img src="/static/img/selfie.jpg">
          </template>
          <template v-else>
            <p>{{ $t('verification_modal.successfully_verified') }} {{ $t('verification_modal.can_create_offers') }}</p>
            <img src="/static/img/selfie.jpg">
          </template>
        </template>
      </div>
      <div v-if="cameraMode">
        <p>{{ $t('verification_modal.access_and_selfie') }}</p>
        <video id="video" width="640" height="480" autoplay></video>
        <app-button class="button button__primary" @click.native.prevent="makePhoto">
          {{ $t('verification_modal.make_photo') }}
        </app-button>
        <canvas id="canvas" width="640" height="480"></canvas>
      </div>
    </div>
  </app-modal>
</template>

<script>
import AppModal from '@/components/AppModal';
import AppButton from '@/components/AppButton';
import { dataURLtoBlob } from '@/utils';
import { Message } from 'element-ui';
import './styles.css';
import { mapGetters } from 'vuex';

export default {
  components: {
    AppModal,
    AppButton,
  },

  data: () => ({
    loading: false,
    cameraMode: false,
  }),

  computed: mapGetters(['loggedUser', 'isGirl']),
  methods: {
    open() {
      this.$refs.modal.open();
    },

    startWebcam() {
      this.cameraMode = true;

      this.$nextTick(() => {
        // Grab elements, create settings, etc.
        const video = document.getElementById('video');

        // Get access to the camera!
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          // Not adding `{ audio: true }` since we only want video now
          navigator.mediaDevices.getUserMedia({ video: true }).then((stream) => {
            video.srcObject = stream;
            video.play();
          });
        }
      });
    },

    makePhoto() {
      this.loading = true;

      const canvas = document.getElementById('canvas');
      const context = canvas.getContext('2d');
      const video = document.getElementById('video');
      context.drawImage(video, 0, 0, 640, 480);

      const image = dataURLtoBlob(canvas.toDataURL());
      this.$store.dispatch('user/uploadVerifyPhoto', image)
        .then(() => {
          this.loading = false;
          this.cameraMode = false;
          Message.success(this.$t('verification_modal.photo_sent_to_review'));
        })
        .catch(() => {
          this.loading = false;
          Message.error(this.$t('verification_modal.error_sending_photo'));
        });
    },

    sendVerifyRequest() {
      this.loading = true;
      this.$store.dispatch('user/sendVerifyRequest')
        .then(() => {
          this.loading = false;
          Message.success(this.$t('verification_modal.request_sent'));
        })
        .catch(() => {
          this.loading = false;
          Message.error(this.$t('verification_modal.request_error'));
        });
    },

    openSupport() {
      Intercom('show');
    },
  },
};
</script>
