<template>
  <header>
    <div class="container">
      <div class="header__wrapper">
        <div class="header__logo">
          <app-logo src="/static/img/logo.png" />
        </div>
        <div class="header__menu" v-if="hasSlot('menu')">
          <slot name="menu"/>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import './app-header.css';
import AppLogo from '../AppLogo';

export default {
  components: {
    AppLogo,
  },

  methods: {
    hasSlot(name = 'default') {
      return !!this.$slots[name] || !!this.$scopedSlots[name];
    },
  },
};
</script>

<style>
</style>
