.subscription__modal .modal__msg_wrapper {
  overflow: hidden;
  position: relative;
  width: 460px;
}
.subscription__modal .modal__close {
  color: var(--main-text-color);
}
.subscription__modal .modal__msg_header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}
.subscription__modal .modal__msg_content {
  margin: 0;
  padding: 0;
}

.subscription__modal-content {
  padding: 20px 20px 80px;
  color: var(--main-text-color);
  text-align: center;
}

.subscription__modal-content h3 {
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
}

.subscription__modal-content p {
  text-align: left;
  margin-bottom: 0;
}

.subscription__modal-content .payment_button_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px 10px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 100%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.subscription__modal-content .pay_referrals_hint {
  margin: 20px 0 0;
}

.subscription__modal-content .pay_referrals_hint span {
  font-weight: 500;
  cursor: pointer;
}

.payment_button_wrapper .not_received_hint {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}

.subscription__modal ul {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}
.subscription__modal ul li {
  margin-bottom: 10px;
  padding: 10px 0 10px 25px;
  position: relative;
  font-weight: 500;
}
.subscription__modal ul li:before {
  content: "\f3a5";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #facf49
}
.payment_amount {
  margin-top: 10px!important;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.payment_amount span {
  color: #ddd;
}

.brick-group {
  position: relative;
  margin: 20px 0;
}

.brick {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin: 5px 0;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  background-clip: padding-box;
  text-align: center;
  transition: background .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.brick:before, .brick:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  transition: background .2s;
}

.brick:before, .brick--blue:before {
  border-color: #2b65f8;
}

.brick--lg {
  width: 60px;
  height: 60px;
}
.brick--stroke {
  background: #fff;
}

.brick--stroke, .brick > .brick {
  box-shadow: 0 0 0 3px #fff;
}

.profile-photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.brick-img, .brick-img > img {
  overflow: hidden;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
}

.brick-group--promo > .brick + .brick {
  margin-left: -15px;
}

.brick-group--promo > .brick:nth-child(2n+2):not(:last-child) {
  z-index: 1;
}

.brick--xsm {
  border-radius: 11px;
  width: auto;
  min-width: 22px;
  height: 22px;
  padding: 5px 4px 4px;
  font: 700 .7857em/1.2 Helvetica, Arial, sans-serif;
  color: #fff;
}
.brick--spp:before {
  border-color: #fec309;
}
.brick--spp {
  position: absolute;
  z-index: 1;
  bottom: 0;
  margin: auto;
  box-shadow: 0 0 0 2px #fff;
  vertical-align: middle;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  background: #fec308;
}
.brick--spp > img {
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: 16px;
  border-radius: 50%;
  height: 16px;
}

.vivify {
  -webkit-animation-duration: .8s !important;
  -webkit-animation-fill-mode: both !important;
  animation-duration: .8s !important;
  animation-fill-mode: both !important;
}

.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

.pulsate {
  -webkit-animation-name: pulsate;
  animation-name: pulsate;
  -webkit-transform-origin: center;
  transform-origin: center
}

@keyframes pulsate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8)
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@media(max-width: 767px) {
  .subscription__modal .modal__msg_content ul {
    padding-left: 0;
  }
  .subscription__modal ul li {
    padding: 5px 0 5px 25px;
    line-height: 20px;
  }
  .subscription__modal .modal__msg_wrapper {
    height: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 0;
  }
  .subscription__modal .not_received_hint {
    position: static;
  }
}

@media(max-width: 569px) {
  .subscription__modal .modal__msg_content ul {
    display: none;
  }
}
