.settings__screen .v-list-item__action:first-child {
  margin-right: 15px;
}

.user__block {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  cursor: pointer;
}

.user__block  .user__block-right {
  margin-left: 10px;
  color: var(--main-text-color);
}

.settings__screen .user__block .user__avatar {
  height: 54px;
  width: 54px;
  background-clip: padding-box;
  border: solid  transparent;
  position: relative;
}

.user__block .user__block-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
  color: var(--main-text-color);
}

.user__block .user__block-info {
  font-size: 14px;
  color: var(--grey-color);
}

@media(max-width: 767px) {
  .user__block-right {
    display: none;
  }
  .settings__list {
    margin: -15px;
    border-radius: 0;
  }
}
