<template>
  <div class="rws__modal modal__wrapper" :display="display" v-if="show">
    <div class="modal__msg_wrapper" v-click-outside="onClickOutside">
      <div class="modal__msg_header">
        <button class="modal__back" @click.prevent="close" v-if="showBackButton">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="modal__close" @click.prevent="close" v-if="showCloseButton">
          <i class="fas fa-times"></i>
        </button>
        <slot name="header" />
      </div>
      <div class="modal__msg_content __scroll">
        <slot/>
      </div>
    </div>
  </div>
</template>

<script>
import vClickOutside from 'v-click-outside';
import './app-modal.css';

export default {
  inheritAttrs: false,

  props: {
    showBackButton: {
      type: Boolean,
      default: () => false,
    },
    showCloseButton: {
      type: Boolean,
      default: () => true,
    },
  },

  directives: {
    clickOutside: vClickOutside.directive,
  },

  data: () => ({
    show: false,
    display: false,
  }),

  watch: {
    display(newVal/* , oldVal */) {
      this.$emit(newVal ? 'showed' : 'closed');
    },
  },

  methods: {
    open() {
      const scrollY = window.scrollY;
      const body = document.body;
      body.style.position = 'fixed';
      body.style.top = `-${scrollY}px`;
      this.show = true;

      setTimeout(() => {
        this.display = true;
      }, 25);
    },

    close() {
      this.display = false;

      const body = document.body;
      const scrollY = body.style.top;
      body.style.position = '';
      body.style.top = '';

      window.scrollTo(0, parseInt(scrollY || '0') * -1);
      setTimeout(() => {
        this.show = false;
      }, 500);
    },

    onClickOutside() {

      // if (this.display) { this.close(); }
    },
  },
};
</script>
