<template>
  <div id="app" class="wrapper">
    <div class="container">
      <div class="row">
        <app-column class="leftside">
          <app-sidebar/>
        </app-column>
        <app-column class="content">
          <transition
            name="fade"
            mode="out-in"
            @beforeLeave="beforeLeave"
            @enter="enter"
            @afterEnter="afterEnter"
          >
            <router-view/>
          </transition>
        </app-column>
      </div>
    </div>

    <bottom-nav/>

    <phone-verification-modal
      ref="phoneVerificationModal"
      v-if="phone_verification_modal_show"
    />
    <subscription-modal
      ref="subscriptionModal"
      v-if="subscription_modal_show"
    />
    <verification-modal
      ref="verificationModal"
    />
    <referrals-modal
      ref="referralsModal"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import AppHeader from '@/components/AppHeader';
import AppSidebar from '@/components/AppSidebar';
import AppColumn from '@/components/AppColumn';
import BottomNav from '@/components/BottomNav';
import PhoneVerificationModal from '@/components/PhoneVerificationModal';
import VerificationModal from '@/components/VerificationModal';
import ReferralsModal from '@/components/ReferralsModal';
import SubscriptionModal from '@/components/SubscriptionModal';
import EventBus from '@/bus';

export default {
  name: 'Layout',

  components: {
    AppHeader,
    AppSidebar,
    AppColumn,
    BottomNav,
    PhoneVerificationModal,
    VerificationModal,
    ReferralsModal,
    SubscriptionModal,
  },

  data() {
    return {
      prevHeight: 0,
      phone_verification_modal_show: false,
      subscription_modal_show: false,
    };
  },

  computed: mapGetters([
    'loggedUser',
    'phoneVerified',
    'isSubscriptionPayed',
  ]),

  methods: {
    beforeLeave(element) {
      this.prevHeight = getComputedStyle(element).height;
    },
    enter(element) {
      const { height } = getComputedStyle(element);

      //        element.style.height = this.prevHeight;

      setTimeout(() => {
        //          element.style.height = height;
      });
    },
    afterEnter(element) {
      //        element.style.height = '80%';
      //        element.style['min-height'] = '80%';
    },
  },

  mounted() {
    EventBus.$on('openVerificationModal', () => {
      this.$refs.verificationModal.open();
    });

    EventBus.$on('openReferralsModal', () => {
      this.$refs.referralsModal.open();
    });

    EventBus.$on('openSubscriptionModal', () => {
      this.$refs.subscriptionModal.open();
    });

    if (!this.phoneVerified) {
      this.phone_verification_modal_show = true;
      this.$nextTick(() => {
        this.$refs.phoneVerificationModal.open();
      });
    }

    /*
      if(!this.isSubscriptionPayed) {
        this.subscription_modal_show = true;
        this.$nextTick(() => {
          this.$refs.subscriptionModal.open()
        });
        return;
      }
      */
  },
};
</script>
